# Web Framework
fastapi==0.128.0
uvicorn==0.40.0

# Database
asyncpg==0.31.0
openai

# File Processing
PyPDF2==3.0.1
python-multipart==0.0.22
aiofiles==25.1.0

# AI & ML (CPU ONLY)
torch==2.10.0
sentence-transformers==5.2.2

# Auth & Security
python-jose==3.5.0
python-dotenv==1.0.1

# Supabase
supabase==2.27.2

# Utilities
pydantic-settings
pydantic==2.12.5
httpx==0.28.1
